<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div id="root">
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>

    <input id="input" type="text" v-model="newName">
    <button @click="addName">Add Name</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.js"></script>

<script>
    new Vue({
        el: '#root',
        data: {
            newName:'',
            names: ['Viral', 'Manish' , 'Ashish', 'Rahul']
        },
        methods:{
            addName()
            {
                this.names.push(this.newName);
                this.newName = '' ;
            }
        }
    })
</script>
</body>
</html>
